body{
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}



.Snake,.TicTacToe,.render{
    display: inline-block;
    height: 500px;
    width: 490px;
}

.renderSC{
    
height: 500px;
}



.TicTacToeSC{
    width: 500px;
    height: 500px;
}
.SnakeSC{
    width: 500px;
    height: 500px;
}






video{
    height: 300px;
    width: 500px;
    margin: 0px;
    padding: 0px;
}

.to-do-application{
    
    width: 500px;
    height: 300px;
    display: inline-block;
    position: relative;
    bottom: 73px;
}

.empREST{
    width: 500px;
    height: 300px;
    display:inline-block;
    position: relative;
    bottom: 75px;
}



.aboutme{
    display: inline;
    margin-left: 720px;
}
.owner{
    text-align: center;
}
